In [70]:
# importation des librairies
import pandas as pd
import datetime
from sklearn.preprocessing import OneHotEncoder

In [71]:
# importation des données
df  = pd.read_csv("voitures.csv",sep=';')
df_voitures = df.copy()
df_voitures.head()

,matricule,marque,date_ciruclation,kilometrage,cylindre,couleur,vitesse
0,123,BMW,12/12/2020,50000,8,noir,280
1,124,AUDI,01/02/2023,10000,8,noir,280
2,125,VW,03/02/2022,75000,6,rouge,240
3,126,MERCEDES,20/05/2021,100000,8,blanc,280
4,127,VW,31/12/2019,30000,6,jaune,260

In [72]:
# suppression de colonne matricule
df_voitures = df_voitures.drop(columns=['matricule'], axis=1)
df_voitures.head()

     marque date_ciruclation  kilometrage  cylindre couleur  vitesse
0       BMW       12/12/2020        50000         8    noir      280
1      AUDI       01/02/2023        10000         8    noir      280
2        VW       03/02/2022        75000         6   rouge      240
3  MERCEDES       20/05/2021       100000         8   blanc      280
4        VW       31/12/2019        30000         6   jaune      260

In [73]:
# transformation de la colonne date_circulation en année
df_voitures['date_ciruclation'] = pd.to_datetime(df_voitures['date_ciruclation'], format='%d/%m/%Y')
df_voitures['annee'] = df_voitures['date_ciruclation'].dt.year
df_voitures

      marque date_ciruclation  kilometrage  cylindre couleur  vitesse  annee
0        BMW       2020-12-12        50000         8    noir      280   2020
1       AUDI       2023-02-01        10000         8    noir      280   2023
2         VW       2022-02-03        75000         6   rouge      240   2022
3   MERCEDES       2021-05-20       100000         8   blanc      280   2021
4         VW       2019-12-31        30000         6   jaune      260   2019
5    PEUGEOT       2020-02-14        90000         4    gris      240   2020
6       AUDI       2021-03-01        60000         6   rouge      260   2021
7    FERRARI       2016-06-06       200000        12   rouge      320   2016
8    PEUGEOT       2017-05-18       510000         3    gris      220   2017
9         VW       2020-04-19       230000         4   blanc      220   2020
10       BMW       2021-01-19        12300         8    bleu      280   2021
11   BUGATTI       2022-12-22        13600        12    bleu      320   2022
12  MERCEDES       2021-07-14       190000         8    noir      280   2021

In [74]:
# transformation de la colonne date_circulation en age
df_voitures['date_ciruclation'] = pd.to_datetime(df_voitures['date_ciruclation'], format='%d/%m/%Y')
df_voitures['age'] = datetime.datetime.now().year - df_voitures['date_ciruclation'].dt.year
df_voitures

,marque,date_ciruclation,kilometrage,cylindre,couleur,vitesse,annee,age
0,BMW,2020-12-12,50000,8,noir,280,2020,3
1,AUDI,2023-02-01,10000,8,noir,280,2023,0
2,VW,2022-02-03,75000,6,rouge,240,2022,1
3,MERCEDES,2021-05-20,100000,8,blanc,280,2021,2
4,VW,2019-12-31,30000,6,jaune,260,2019,4
5,PEUGEOT,2020-02-14,90000,4,gris,240,2020,3
6,AUDI,2021-03-01,60000,6,rouge,260,2021,2
7,FERRARI,2016-06-06,200000,12,rouge,320,2016,7
8,PEUGEOT,2017-05-18,510000,3,gris,220,2017,6
9,VW,2020-04-19,230000,4,blanc,220,2020,3
10,BMW,2021-01-19,12300,8,bleu,280,2021,2
11,BUGATTI,2022-12-22,13600,12,bleu,320,2022,1
12,MERCEDES,2021-07-14,190000,8,noir,280,2021,2

In [66]:
# suppression de la colonne date_circulation
df_voitures = df_voitures.drop(columns=['date_ciruclation'], axis=1)
df_voitures

      marque  kilometrage  cylindre couleur  vitesse  annee  age
0        BMW        50000         8    noir      280   2020    3
1       AUDI        10000         8    noir      280   2023    0
2         VW        75000         6   rouge      240   2022    1
3   MERCEDES       100000         8   blanc      280   2021    2
4         VW        30000         6   jaune      260   2019    4
5    PEUGEOT        90000         4    gris      240   2020    3
6       AUDI        60000         6   rouge      260   2021    2
7    FERRARI       200000        12   rouge      320   2016    7
8    PEUGEOT       510000         3    gris      220   2017    6
9         VW       230000         4   blanc      220   2020    3
10       BMW        12300         8    bleu      280   2021    2
11   BUGATTI        13600        12    bleu      320   2022    1
12  MERCEDES       190000         8    noir      280   2021    2

In [67]:
# transformation de la colonne marque en one hot encoding
OHE = OneHotEncoder()
transformed = OHE.fit_transform(df_voitures[['marque']])
df_voitures.drop(columns = ['marque'],inplace=True)
df_voitures["Marque_"+OHE.categories_[0]] = transformed.toarray()
df_voitures

,kilometrage,cylindre,couleur,vitesse,annee,age,Marque_AUDI,Marque_BMW,Marque_BUGATTI,Marque_FERRARI,Marque_MERCEDES,Marque_PEUGEOT,Marque_VW
0,50000,8,noir,280,2020,3,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,10000,8,noir,280,2023,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,75000,6,rouge,240,2022,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,100000,8,blanc,280,2021,2,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,30000,6,jaune,260,2019,4,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5,90000,4,gris,240,2020,3,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6,60000,6,rouge,260,2021,2,1.0,0.0,0.0,0.0,0.0,0.0,0.0
7,200000,12,rouge,320,2016,7,0.0,0.0,0.0,1.0,0.0,0.0,0.0
8,510000,3,gris,220,2017,6,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9,230000,4,blanc,220,2020,3,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10,12300,8,bleu,280,2021,2,0.0,1.0,0.0,0.0,0.0,0.0,0.0
11,13600,12,bleu,320,2022,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0
12,190000,8,noir,280,2021,2,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [68]:
# transformation de la colonne couleur en one hot encoding
OHE = OneHotEncoder()
transformed = OHE.fit_transform(df_voitures[['couleur']])
df_voitures.drop(columns = ['couleur'],inplace=True)
df_voitures["Couleur"+OHE.categories_[0]] = transformed.toarray()
df_voitures

,kilometrage,cylindre,vitesse,annee,age,Marque_AUDI,Marque_BMW,Marque_BUGATTI,Marque_FERRARI,Marque_MERCEDES,Marque_PEUGEOT,Marque_VW,Couleurblanc,Couleurbleu,Couleurgris,Couleurjaune,Couleurnoir,Couleurrouge
0,50000,8,280,2020,3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,10000,8,280,2023,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,75000,6,240,2022,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,100000,8,280,2021,2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,30000,6,260,2019,4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
5,90000,4,240,2020,3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
6,60000,6,260,2021,2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
7,200000,12,320,2016,7,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
8,510000,3,220,2017,6,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9,230000,4,220,2020,3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
10,12300,8,280,2021,2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
11,13600,12,320,2022,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
12,190000,8,280,2021,2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0